.about {
  margin: 0 auto;
  background: hsl(222.86deg 13.73% 20%);
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

h1 {
  color: hsl(0deg 0% 100%);
}
.aboutDesc {
  text-align: justify;
  color: hsl(230deg 12% 80.39%); /* color: var(--secondary); */
}

@media only screen and (max-width: 599px) {
  .about {
    width: 80vw;
    min-width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    width: 500px;
    min-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    width: 600px;
  }
}
