.projects {
  margin: 0 auto;
}

@media only screen and (max-width: 599px) {
  .projects {
    width: 90vw;
    min-width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .projects {
    width: 500px;
    min-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .projects {
    width: 600px;
  }
}
