.projects {
  width: 80vw;
  margin: 0 auto;
}

.project {
  height: 500px;
}

@media only screen and (min-width: 992px) {
  .projects {
    width: 75vw;
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    width: 90vw;
    min-width: 300px;
  }
}
